body {
	text-align: center;
	font-family: "Roboto", sans-serif;
	background-color: rgb(227, 225, 226);
	opacity: 0.7;
}

.App-header {
	font-size: 50px;
	font-weight: bold;
	color: rgb(163, 167, 171);
}

.App-intro {
	color: rgb(105, 107, 115);
	margin-bottom: 20px;
	font-weight: bold;
}
